@model PFVentas.Models.Venta

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Venta</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VentaId" />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label">Fecha</label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanalVta" class="control-label">Canal de Venta</label>
                <input asp-for="CanalVta" class="form-control" />
                <span asp-validation-for="CanalVta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producto" class="control-label">Producto</label>
                <input asp-for="Producto" class="form-control" />
                <span asp-validation-for="Producto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label">Cantidad</label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioVtaUnit" class="control-label">Precio unitario</label>
                <input asp-for="PrecioVtaUnit" class="form-control" />
                <span asp-validation-for="PrecioVtaUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado de ventas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
