@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family:Ubuntu;color:dimgray"><b>Bienvenido a su sistema de ventas</b></h1>
    <br /><br />
    <a class="nav-link text-dark" asp-area="" asp-controller="Venta" asp-action="Index" style="background-color: #ECECEC; border: 1px solid grey"><h3>Ventas</h3></a><br />
    <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="Index" style="background-color: #ECECEC; border: 1px solid grey"><h3>Productos</h3></a><br />
    <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index" style="background-color: #ECECEC; border: 1px solid grey"><h3>Usuarios</h3></a><br />
    <a class="nav-link text-dark" asp-area="" asp-controller="VentaViewModel" asp-action="Index" style="background-color: #ECECEC; border: 1px solid grey"><h3>Resumen de ventas</h3></a>

</div>
