@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="text-align:center;color:dimgray"><b>Bienvenido a su sistema de ventas</b></h1>
    <br /><br />
    <a class="nav-link text-dark" asp-area="" asp-controller="Venta" asp-action="Index" style="border:1px solid grey"><h3>Ventas</h3></a><br />
    <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="Index"style="border:1px solid grey"><h3>Productos</h3></a><br />
    <a class="nav-link text-dark" asp-area="" asp-controller="Usuario" asp-action="Index"style="border:1px solid grey"><h3>Usuarios</h3></a>


</div>
